.list {
    height: 65vh;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    overflow-y: scroll;
    min-width: 400px;
}

.list a {
	text-decoration: none;
	color: #3f4143;
}

.card {
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #f6f6f6;
	padding: 10px;	
	margin: 20px;
	border-radius: 230px;
}	

.card:hover{
    background-color: #979794;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
}
.cardImage {    
    border-radius: 50%;
}
.cardImage img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cardTitle {
    padding-left: 50px;
    font-size: 30px;
}
.content {
    padding-left: 50px;
    font-size: 20px;
}