.SearchBar {
    display: flex;
    height: 44px;
    border: 2px solid #827d7d;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 584px;
}

input {
    width: 90%;
    margin: 4px 10px;
    font-size: 21px;
    height: -webkit-fill-available;
    padding-left: 17px;
    border: none;
    outline: none;
}

.searchInput {
    width: 100%;
}